.control-panel
    position: relative

    display: flex
    justify-content: space-between
    align-items: center

    max-width: 366px
    height: 60px
    box-sizing: border-box
    
    padding: 10px

    border-radius: 4px
    background: #FFF
    box-shadow: 0px 1px 4px 0px rgba(19, 19, 19, 0.10)

    svg
        fill: #616F82

.control-panel__grow
    flex-grow: 1

.icon
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%

.icon--small
    width: 34px
    height: 34px
    background: #F1F2F3
    transition: all .2s
    cursor: pointer
    &:hover
        background: #4198C5
        svg
            fill: #fff

.icon--small svg
    fill: #616F82

.icon:last-child
    margin-left: 10px

.search
    flex-grow: 1
    height: 40px
    padding-left: 35px
    border-radius: 90px

    border: 1px solid #CDCDCD
    background: #FFF
    &:focus
        outline: 1px solid black

.search--icon
    position: absolute
    left: 22px
    top: 50%
    margin-top: -8px
    z-index: 5

button
    border: 0px solid black
    &:focus
        outline: 2px solid rgba(0, 0, 0, .8)

.control-selection
    display: flex
    justify-content: space-between
    align-items: center
    height:20px

    padding: 0px 10px
    margin-top: 15px

.control-selection__amount
    padding: 2px 6px
    border-radius: 9px
    background: #616F82

    color: #FFF
    font-size: 12px
    font-style: normal
    font-weight: 400

    line-height: 100%

.control-selection__amount--select
    background: #4198C5

.control-selection__text
    color: #616F82
    font-size: 14px
    font-style: normal
    font-weight: 400 

    margin: 0px 10px

.control-selection__select
    border: 0px solid black
    background: transperent
    cursor: pointer
    color: #616F82
    font-size: 14px
    font-style: normal
    font-weight: 400 

.control-selection__select:last-child
    margin-left: 12px

.control-selection__right
    display: flex
    align-items: center