.custom-checkbox
  position: absolute
  z-index: -1
  opacity: 0

.custom-checkbox+label 
  display: inline-flex
  align-items: center
  user-select: none

.custom-checkbox+label::before 
  margin-top: 4px
  content: ''
  display: inline-block
  width: 18px
  height: 18px
  flex-shrink: 0
  flex-grow: 0
  border: 1px solid $grey
  background: $white
  border-radius: 4px
  background-repeat: no-repeat
  background-position: center center
  background-size: 50% 50%

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before 
  border-color: $light-blue

.custom-checkbox:checked+label::before 
  border-color: $light-blue
  background-color: $light-blue
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e")

.person-item__checkbox+label::before
  margin: 12px 10px 0 0

.icon
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    color: $dark-blue
    &:hover
      color: $white

.icon--small
    width: 34px
    height: 34px
    background: $grey-background
    transition: all .2s
    cursor: pointer
    &:hover
        background: $light-blue
        svg
            fill: $white

.icon--small svg
    fill: $dark-blue

.icon:last-child
    margin-left: 10px

.search--icon
  position: absolute
  left: 29px
  z-index: 100
  color: $dark-blue
